body{
    font-family: 'Franklin Gothic Light';
}
.home-page{
    background-color:rgb(196, 239, 240);
}
.facts-page{
    background-color: rgb(205, 184, 233);
}
.gallery-page{
    background-color: rgb(169, 210, 169);
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    text-align: center; 
}
.navbar a{
    font-size: x-large;
    flex: 1;
    text-decoration: none;
}
.content-div{
    background-color:rgb(196, 239, 240);
    text-align: center; 
}
.content-div p{
    font-size: medium;
}
.facts-div {
    margin-left: 10%;
    font-size: large;
}
.gallery-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.gallery-content button{
    border-radius: 30%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(154, 152, 152);
    border-color: rgb(154, 152, 152);
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}
.footer{
    font-size: x-small;
}