body{
    font-family: 'Franklin Gothic Light';
}
.home-page{
    background-color:rgb(196, 239, 240);
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    text-align: center; 
}
.navbar a{
    font-size: large;
    flex: 1;
}
.content-div{
    background-color:rgb(196, 239, 240);
    text-align: center; 
}
.content-div p{
    font-size: small;
}
.footer{
    background-color:rgb(196, 239, 240);
    font-size: x-small;
}